
<div class="container">
  <div class="my-info">
    <h3>DTcode22</h3>
    <a href="#" class="link" target="_blank">Portfolio</a>
    <a href="https://github.com/DTcode22" class="link" target="_blank">Github</a>
  </div>
</div>

<style>

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    height: 300px;
  }
  .my-info {
    display: flex;
    flex-direction: column;
    opacity: 0.95;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    background: rgba(233, 233, 233, 0.612);
    gap:6px;
  }
  h3 {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: black;
  }
  h3:hover {
    cursor: default;
  }
  .links {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
  }
  .link {
    font-family: "Arial", sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
  }
  .link:hover {
    color: #5e68d6;
  }

</style>
